body {
  text-align: center;
}
.choice-btn {
  height: 100px;
  width: 100px;
  border: none;
  margin: 10px;
  background-color: rgb(172, 247, 155);
  border-radius: 50px;
  cursor: pointer;
}
.choice-img {
  height: 75px;
}
